@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  color: white;
  background-color: black;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}
h1 {
  border-bottom: solid white 5px;
}
.form {
  width: 400px;
}
.form p {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 1%;
  padding-top: 2%;
}
input {
  font-size: 15px;
  font-weight: bold;
  height: 50px;
  width: 400px;
  border: black;
  border-radius: 5px;
}

textarea {
  font-size: 15px;
  font-weight: bold;
  height: 200px;
  width: 500px;
  border: black;
  border-radius: 5px;
}

select {
  font-size: 15px;
  font-weight: bold;
  height: 50px;
  width: 400px;
  border: black;
  border-radius: 5px;
}

.radio {
  height: 20px;
  accent-color: black;
}
button {
  height: 50px;
  margin-top: 5%;
  width: 400px;
  background-color: transparent;
  color: white;
  font-size: 14px;
  font-weight: 700;
  border: white solid 2px;
  border-radius: 5px;
}
button:hover {
  cursor: pointer;
}
